
/* logo */
h1 {
  color: #f7b617;
  font-size: 3em;
  margin-top: 35vh;
}

/* titulo de section 2 */
h2 {
  color: #f7b617;
  font-size: 3em;
}

/* color blanco al icono cuadrado */
i {
  color: #fff;
}

/*color y tamaño al texto  */
h3 {
  color: #f7b617;
  /* font-size: 1.8em; */
}

#contenedor > div {
  margin: 2vh 2vw;
}

/* section  1 */
.sec1 {
  background: #000;
  height: 100vh;
}

/* section 2 */

/* padin mapa y fotos */
.pd {
  padding-top: 3vh;
}

.food, .food > img {
  display: inline-block;
  height: 18vh;
  width: 25vw;
}

/*color section 2  */
.sec2 {
  background: #000;
}

.button {
  background-color: #f7b617;
  color: #fff;
}

/* map modal */
/* .modal-map {
  height: 40vh;
  width: 45vw;
} */
